# Team 4 CA Part 1

## Problem Statement

Our team will be using the dataset titled "mushrooms.csv" to classify if a mushroom is edible or not.
In this dataset, we have 7 independent variables, namely, cap-shape, cap-surface, cap-color, bruises, odor, population
and habitat. The dependent variable is the class. In line with the deliverables for this CA, we will be using the following classification models to classify whether a mushroom is edible or not:

- Logistic Regression Model
- K-NN Model
- Decision Tree Model

The source of the original dataset is from https://www.kaggle.com/uciml/mushroom-classification.

## Data Dictionary

In [1]:
import pandas as pd

df = pd.read_csv("mushrooms_1000rows.csv")

df

    class cap-shape cap-surface cap-color bruises odor population habitat
0       p         x           s         n       t    p          s       u
1       e         x           s         y       t    a          n       g
2       e         b           s         w       t    l          n       m
3       p         x           y         w       t    p          s       u
4       e         x           s         g       f    n          a       g
..    ...       ...         ...       ...     ...  ...        ...     ...
995     e         k           s         n       f    n          c       l
996     e         k           s         p       t    n          c       w
997     e         x           f         w       f    n          n       g
998     p         k           s         n       f    y          v       d
999     e         x           s         n       f    n          c       l

[1000 rows x 8 columns]

In [2]:
class_col = df[["class"]]

class_col.groupby("class").count()

Empty DataFrame
Columns: []
Index: [e, p]

In [3]:
print(class_col.nunique())

class    2
dtype: int64

As seen from the 2 preceding cells above, the dependent variable class takes 1 of 2 unique values. These values are "e" and "p".
A mushroom of class "e" is definitely edible, while a mushroom of class "p" is poisonous, not recommended for consumption or
of unknown edibility. In short, mushrooms of class "e" and "p" are considered to be definitely edible and not definitely edible,
respectively.

In [4]:
cap_shape_col = df[["cap-shape"]]

cap_shape_col.groupby("cap-shape").count()

Empty DataFrame
Columns: []
Index: [b, c, f, k, s, x]

In [5]:
print(cap_shape_col.nunique())

cap-shape    6
dtype: int64

As seen from the 2 preceding cells above, the independent variable cap-shape takes 1 of 6 unique values. These values are "b",
"c", "f", "k", "s" and "x". The cap shape of a mushroom is bell, conical, flat, knobbed, sunken and convex when the cap-shape value is "b", "c", "f", "k", "s" and "x", respectively.

In [6]:
cap_surface_col = df[["cap-surface"]]

cap_surface_col.groupby("cap-surface").count()

Empty DataFrame
Columns: []
Index: [f, g, s, y]

In [7]:
print(cap_surface_col.nunique())

cap-surface    4
dtype: int64

As seen from the 2 preceding cells above, the independent variable cap-surface takes 1 of 4 unique values. These values are "f",
"g", "s" and "y". The cap surface of a mushroom is fibrous, has grooves, scaly and smooth when the cap-surface value is "f", "g", "s" and "y", respectively.

In [8]:
cap_color_col = df[["cap-color"]]

cap_color_col.groupby("cap-color").count()

Empty DataFrame
Columns: []
Index: [b, c, e, g, n, p, r, u, w, y]

In [9]:
print(cap_color_col.nunique())

cap-color    10
dtype: int64

As seen from the 2 preceding cells above, the independent variable cap-color takes 1 of 10 unique values. These values are "b", "c", "e", "g", "n", "p", "r", "u", "w" and "y". The cap color of a mushroom is buff, cinnamon, red, gray, brown, pink, green, purple, white and yellow when the cap-color value is "b", "c", "e", "g", "n", "p", "r", "u", "w" and "y", respectively.

In [10]:
bruises_col = df[["bruises"]]

bruises_col.groupby("bruises").count()

Empty DataFrame
Columns: []
Index: [f, t]

In [11]:
print(bruises_col.nunique())

bruises    2
dtype: int64

As seen from the 2 preceding cells above, the independent variable bruises takes 1 of 2 unique values. These values are "t" and "f". The mushroom has bruises and no bruises when the bruises value is "t" and "f", respectively.

In [12]:
odor_col = df[["odor"]]

odor_col.groupby("odor").count()

Empty DataFrame
Columns: []
Index: [a, c, f, l, m, n, p, s, y]

In [13]:
print(odor_col.nunique())

odor    9
dtype: int64

As seen from the 2 preceding cells above, the independent variable odor takes 1 of 9 unique values. These values are "a", "c", "f", "l", "m", "n", "p", "s" and "y". The mushroom's odor is almond, creosote, foul, anise, musty, none, pungent, spicy and fishy when the odor value is "a", "c", "f", "l", "m", "n", "p", "s" and "y", respectively.

In [14]:
population_col = df[["population"]]

population_col.groupby("population").count()

Empty DataFrame
Columns: []
Index: [a, c, n, s, v, y]

In [15]:
print(population_col.nunique())

population    6
dtype: int64

As seen from the 2 preceding cells above, the independent variable population takes 1 of 6 unique values. These values are "a", "c", "n", "s", "v" and "y". The mushroom's population is abundant, clustered, numerous, scatted, several and solitary when the population value is "a", "c", "n", "s", "v" and "y", respectively.

In [16]:
habitat_col = df[["habitat"]]

habitat_col.groupby("habitat").count()

Empty DataFrame
Columns: []
Index: [d, g, l, m, p, u, w]

In [17]:
print(habitat_col.nunique())

habitat    7
dtype: int64

As seen from the 2 preceding cells above, the independent variable habitat takes 1 of 7 unique values. These values are "d", "g", "l", "m", "p", "u" and "w". The mushroom's habitat is near woods, grasses, leaves, meadows, paths, urban and waste when the habitat value is "d", "g", "l", "m", "p", "u" and "w", respectively.