In [1]:
import pandas as pd

df = pd.read_csv("mushrooms_1000rows.csv")

df

    class cap-shape cap-surface cap-color bruises odor population habitat
0       p         x           s         n       t    p          s       u
1       e         x           s         y       t    a          n       g
2       e         b           s         w       t    l          n       m
3       p         x           y         w       t    p          s       u
4       e         x           s         g       f    n          a       g
..    ...       ...         ...       ...     ...  ...        ...     ...
995     e         k           s         n       f    n          c       l
996     e         k           s         p       t    n          c       w
997     e         x           f         w       f    n          n       g
998     p         k           s         n       f    y          v       d
999     e         x           s         n       f    n          c       l

[1000 rows x 8 columns]

In [2]:
class_dict = {"p": 0,
              "e": 1}

df["class"] = df["class"].map(class_dict)

df[["class"]].head()

   class
0      0
1      1
2      1
3      0
4      1

In [3]:
# "b", "c", "f", "k", "s", "x"

cap_shape_list =  ["b", "c", "f", "k", "s", "x"]

cap_shape_dict = {}

for i in range(len(cap_shape_list)):
    cap_shape_dict[cap_shape_list[i]] = i

df["cap-shape"] = df["cap-shape"].map(cap_shape_dict)

df[["cap-shape"]].head()

   cap-shape
0          5
1          5
2          0
3          5
4          5

In [4]:
# "f", "g", "s" and "y"

cap_surface_list =  ["f", "g", "s", "y"]

cap_surface_dict = {}

for i in range(len(cap_surface_list)):
    cap_surface_dict[cap_surface_list[i]] = i

df["cap-surface"] = df["cap-surface"].map(cap_surface_dict)

df[["cap-surface"]].head()

   cap-surface
0            2
1            2
2            2
3            3
4            2

In [5]:
# "b", "c", "e", "g", "n", "p", "r", "u", "w" and "y"

cap_color_list = ["b", "c", "e", "g", "n", "p", "r", "u", "w", "y"]

cap_color_dict = {}

for i in range(len(cap_color_list)):
    cap_color_dict[cap_color_list[i]] = i

df["cap-color"] = df["cap-color"].map(cap_color_dict)

df[["cap-color"]].head()

   cap-color
0          4
1          9
2          8
3          8
4          3

In [6]:
bruises_dict = {"f":0,
                "t": 1}

df["bruises"] = df["bruises"].map(bruises_dict)
df[["bruises"]].head()

   bruises
0        1
1        1
2        1
3        1
4        0

In [7]:
# "a", "c", "f", "l", "m", "n", "p", "s" and "y"

odor_list = ["a", "c", "f", "l", "m", "n", "p", "s", "y"]
odor_dict = {}

for i in range(len(odor_list)):
    odor_dict[odor_list[i]] = i
    
df["odor"] = df["odor"].map(odor_dict)
df[["odor"]].head()

   odor
0     6
1     0
2     3
3     6
4     5

In [8]:
# "a", "c", "n", "s", "v" and "y"

population_list = ["a", "c", "n", "s", "v","y"]
population_dict = {}

for i in range(len(population_list)):
    population_dict[population_list[i]] = i

df["population"] = df["population"].map(population_dict)
df[["population"]].head()

   population
0           3
1           2
2           2
3           3
4           0

In [9]:
# "d", "g", "l", "m", "p", "u" and "w"

habitat_list = ["d", "g", "l", "m", "p", "u", "w"]
habitat_dict = {}

for i in range(len(habitat_list)):
    habitat_dict[habitat_list[i]] = i
                
df["habitat"] = df["habitat"].map(habitat_dict)
df[["habitat"]].head()

   habitat
0        5
1        1
2        3
3        5
4        1

In [10]:
# test if encoding has been done correctly

df.dropna(inplace = True)

df

,class,cap-shape,cap-surface,cap-color,bruises,odor,population,habitat
0,0,5,2,4,1,6,3,5
1,1,5,2,9,1,0,2,1
2,1,0,2,8,1,3,2,3
3,0,5,3,8,1,6,3,5
4,1,5,2,3,0,5,0,1
...,...,...,...,...,...,...,...,...
995,1,3,2,4,0,5,1,2
996,1,3,2,5,1,5,1,6
997,1,5,0,8,0,5,2,1
998,0,3,2,4,0,8,4,0
999,1,5,2,4,0,5,1,2