In [35]:
import numpy as np
import pandas as pd

In [36]:
# data set for Amazon Top 50 Bestselling Books 2009 - 2019

df = pd.read_csv("bestsellers with categories.csv")

df.dropna(inplace = True)

df

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [37]:
df["Genre"].nunique() # Genre will be dep variable
                      # User Rating, Reviews, Price and Year will be indep variables

2

In [38]:
print(df.groupby("Genre").sum())

             User Rating  Reviews  Price    Year
Genre
Fiction           1115.6  3764110   2604  483342
Non Fiction       1424.5  2810195   4601  624358

In [39]:
df["Year"].nunique()

11

In [40]:
print(df.groupby("Year").sum())

      User Rating  Reviews  Price
Year
2009        229.2   235506    770
2010        227.9   273981    674
2011        227.9   405041    755
2012        226.6   654546    765
2013        227.7   654907    730
2014        231.1   792997    732
2015        232.4   711669    521
2016        233.9   709800    659
2017        233.0   644420    569
2018        233.4   696521    526
2019        237.0   794917    504